<p>Basic Info</p>
<!--<div class="table-responsive">-->
  <%#= form_for(@student) do |f| %>
<!--      <table>-->
<!--        <tr>-->
          <td><%#= f.label :level %></td>
          <td class="required"><%#= f.select :level, options_for_select([["Master Non-Thesis",1], ["Thesis Master",2], ["PhD",3]], @student.level)%></td>
<!--        </tr>-->
<!--        <tr>-->
          <td><%#= f.label :date_enrolled %></td>
          <td class="required"><%#= date_select :student, :date_enrolled,default: {year:@the_date[1],month:@the_date[2],day:@the_date[3]}%></td>
<!--        </tr>-->

<!--        <tr>-->
          <td><%#= f.label :first_name %></td>
          <td class="required"><%#= f.text_field :first_name %></td>
          <td><%#= f.label :middle_name %></td>
          <td> <%#= f.text_field :middle_name %></td>
          <td> <%#= f.label :last_name %></td>
          <td class="required"> <%#= f.text_field :last_name %></td>
<!--        </tr>-->
<!--        <tr>-->
          <td><%#= f.label :email %></td>
          <td class="required"><%#= f.text_field :email %></td>
<!--        </tr>-->

<!--        <tr>-->
          <td><%#= f.label :phone %></td>
          <td class="required"><%#= f.text_field :phone %></td>
<!--        </tr>-->

<!--        <tr>-->
          <td> <%#= f.label :advisor_email %></td>
          <td class="required"> <%#= f.text_field :advisor_email %></td>
<!--        </tr>-->
<!--        <tr>-->
          <td><%#= f.label :perferences %></td>
           <td> <%#= f.text_area  :perferences %></td>
<!--        </tr>-->
<!--      </table>-->
      <%#= f.submit%>
  <%# end %>
<!--</div>-->