<h1>Welcome</h1>
<div class="table-responsive">
  <%= form_for :student, url: welcome_login_path do |f| %>
      <table class="table table-bordered">
        <tr>
          <th><%= f.label :UIN %></th>
          <td><%= f.text_field :UIN %></td>
        </tr>
      </table>
      <%= f.submit "Log In" %>
  <% end %>


</div>
