    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Home", :controller => 'students', :action => 'index' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Basic Info", :controller => 'students', :action => 'basic_info' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Check Application Status", :controller => 'students', :action => 'checkStatus' %></a>
      </li>
      <li class="nav-item">
      <a class="nav-link"><%= link_to "Applies", index_apply_path %></a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link"><%#= link_to "New Apply", new_apply_path %></a>-->
      <!--</li>-->
    </ul>
